h2{
    margin: 2em 0
}
  
.category-item {
    background-color: rgba(173, 103, 28, 0.1);
    color: #a86218;
    padding: 1em;
    font-size: 2em;
    border-radius: 5em;
    margin: .5em 1em;
    border: solid 3px #a86218;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.category-item:hover {
    background: linear-gradient(0deg, #af292b, #e4c17a); 
    color: #fffdfa; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
@media (max-width: 768px) {
    .category-item{
        font-size: 1.5em;
    }
}

