
.general h1{
    margin: 1em 0;
    text-align: center;
    font-weight: 800;
}

.quit-quiz-btn{
    display: flex;
    margin: 0 auto;
}
.general .question{
    text-align: left;
    line-height: 2;
    background-color: rgb(255, 254, 254);
    margin: 2em 15em;
    padding: 2em 10em;
    border-radius: 1em;
    border: solid 1px #ead2a2;
    font-size: 16px;
}
.general button{
    border-radius: 8px;}
.general .answer-option {
    margin: 5px 0;
}
.answer-option span{
    margin-left: 1em;
}
.general .quit-btn{
    background: none;
    color: #a86218;;
    margin-right:1em;
}

.general .correct-question {
    border: 1px solid rgb(71, 154, 71) !important;
    background-color: rgb(198, 238, 198);
}
  
.general .incorrect-question {
    border: 1px solid rgb(196, 57, 57) !important;
    background-color: rgb(235, 192, 192);

}

@media (max-width: 768px){

    .question{
        margin: 1em !important;
        padding: 2em !important;
        font-size: 12px;
    }
    strong, .cy-answers{
        font-size: 12px !important;
    }
    .general .quit-btn{
        padding: 1em 1.5em !important;
    }

}